<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kooltechs.garagedoor" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".HouseActivity"
            android:label="@string/title_activity_house" >
        </activity>
        <activity
            android:name=".SoftKeyActivity"
            android:label="@string/title_activity_soft_key" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".DoorConfigureActivity"
            android:label="@string/title_activity_door_configure" >
        </activity>
        <activity
            android:name=".NewAccountActivity"
            android:label="@string/title_activity_new_account" >
        </activity>
    </application>

</manifest>
